:root {
	--main-color: #2e2f42;
	--sceondary-color: #434455;
	--accent-color: #4d5ae5;
	--white-primary: #ffffff;
	--white-secondary: #f4f4fd;
	--active-color: #404bbf;
}
body {
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: #434455;
	background-color: var(--white-primary);
}

.hero-title {
	font-size: 56px;
	font-weight: 700;
	line-height: 1.07;
	color: #ffffff;
}
.sect-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.1;
	color: var(--main-color);
	text-align: center;
}

.item-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: var(--main-color);
}

footer {
	background-color: var(--main-color);
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}
.link:visited {
	text-decoration: none;
	color: var(--main-color);
}

/* Logo */
.logo {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 1.3;
	font-weight: 800;
	color: var(--main-color);
}
.accent-logo {
	color: var(--accent-color);
}

/* Menu */
.menu-item {
	color: var(--main-color);
	font-weight: 500;
}

.contacts a {
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	color: var(--sceondary-color);
}

/* Hero section */
.hero {
	background-color: var(--main-color);
}

/* Main Button */
.main-btn {
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	font-size: 16px;
	background-color: var(--accent-color);
	color: #ffffff;
	cursor: pointer;
}
/* Team section */
.team {
	background-color: var(--white-secondary);
}

/* Footer */
.logo-footer {
	font-style: normal;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.17;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	color: var(--white-secondary);
}
.footer-text {
	color: #e7e9fc;
}

/* Active elements */
.active {
	color: var(--active-color);
}
.menu-item:hover,
.menu-item:focus {
	color: var(--active-color);
}
.contact-item:hover,
.contact-item:focus,
.contact-item:active {
	color: var(--active-color);
}
.main-btn:hover,
.main-btn:focus {
	background-color: var(--active-color);
}

/* Portfolio */
/* Filters */
.btn {
	font-weight: 500;
	line-height: 1.5;
	background-color: var(--white-secondary);
	color: var(--accent-color);
	cursor: pointer;
}
/* Work list */
.work-filter {
	color: var(--sceondary-color);
}

.work-desc {
	background-color: var(--accent-color);
	color: var(--white-secondary);
}

/* Active elements in Portfolio */
.work-card:hover,
.work-card:focus,
.work-card:visited {
	background-color: var(--accent-color);
}

.btn:hover,
.btn:focus,
.btn:active {
	background-color: var(--active-color);
	color: var(--white-primary);
}

/* Hidden elements */

.hidden-visually {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
}
